html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#leftPane {
    width: 80%;
}

#rightPane {
    width: 20%;
    background-color: #fafafa;
}

.pane {
    height: 100%;
    float: left;
}

#controlPane {
    padding: 20px;
}